section.advantages
  .container
    .row
      .col-24
        h2.sub-heading.adv__heading Основные приимущества
    .row.justify-content-between.align-items-center  
      .col-md-12.text-center
        img.img-fluid(src='img/1.jpg')
    
      .col-md-12

        h3.adv__text_2 Контроль физических нагрузок.
        p.adv__text_3 Браслет фиксирует количество пройденных шагов, измеряет пульс, давление и темп дыхания, напоминает о необходимости подвигаться
    
  
    .row.justify-content-between.align-items-center.flex-row-reverse 
      .col-md-12.text-center
        img.img-fluid(src='img/intro-bg.png')
    
      .col-md-12

        h3.adv__text_2 Bluetooth-наушник Jakcom B3
        p.adv__text_3 Умный девайс не только свяжется через Bluetooth с вашим телефоном или смартфоном, но и даст возможность разговаривать по телефону (С помощью Bluetooth наушника, который легко отсоединяется от ремешка часов)

    .row.justify-content-between.align-items-center  
      .col-md-12.text-center
        img.img-fluid(src='img/4.jpg')
    
      .col-md-12

        h3.adv__text_2 Умные уведомления.
        p.adv__text_3 Браслет будет вибрировать и отображать полученную информацию на дисплее при включении будильника, получении входящих звонков и SMS сообщений на ваш смартфон

    .row.justify-content-between.align-items-center.flex-row-reverse 
      .col-md-12.text-center
        img.img-fluid(src='img/2.png')
    
      .col-md-12

        h3.adv__text_2 Емкая батарея
        p.adv__text_3  Jakcom B3 Smart Watch имеет водонепронецаемый корпус и достаточно емкую батарею на 150 мАч. Расчитанную на 150 часов ожидания и 10 часов непрерывного общения. 
