section.delivery
  .container
    .row
      .col-lg-24
        h1.section-delivery Доставка и оплата
        p.section-delivery Добавьте информацию об условиях доставки в Вашей компании.
          br
          |  Укажите виды и сроки доставки, адреса пунктов самовывоза и другую 
          br
          | информацию, которая будет полезна покупателю.
        p.section-delivery Дополнительно напишите о доступных видах оплаты, таких как: 
          br
          | банковский перевод, оплата наличными курьеру, Webmoney, Qiwi и т.п.
    .row
      .col-md-8
        img.img-fluid(src='img/icon12.png')
       
    

