section.feedback
  .container
    .row
      .col-lg-24
        h2.sub-heading.feedback__heading Отзывы покупателей

    .row.justify-content-between.align-items-center
      .col-lg-24.text-right
        ul.fb-review
          li.fb-review__item
            i.fb-review__icon.fa.fa-star
          li.fb-review__item
            i.fb-review__icon.fa.fa-star
          li.fb-review__item
            i.fb-review__icon.fa.fa-star
          li.fb-review__item
            i.fb-review__icon.fa.fa-star
          li.fb-review__item
            i.fb-review__icon.fa.fa-star

      .col-md-8
        img.img-fluid(src='img/services_img1.png')
    
      .col-md-16

        h3.fb-heading.feedback__sub-heading Отличные часы! Лучшие на данный момент!
        p.fb-text Я купил такие часы перед Новым Годом. До них пользовался 
          br
          |  sony smart watch 2.Теперь ношу их не снимая. Сплю тоже с ними. Очень удобно. 
          br
          |  Будильник вибрирует очень мягко. Функционал достаточный. Дополнительно больше ничего и не нужно

    

        
    
