footer.footer
  p.section-footer Остались вопросы?
  form.form
          .form__wrapper
            .form__group.form-group.form__group--1
              input.form-control.form__control(type="text", name="name", placeholder="Имя", required)
            .form__group.form-group.form__group--2
              input.form-control.form__control(type="tel", name="phone", placeholder="Телефон", required)
            .form__group.form__group--3
              button.btn.btn--secondary.form__submit.btn--fluid(type="submit") Заказать звонок
              
