header.header
  .container
    .row.justify-content-between
      
      .col-auto
        .logo
          img.img-fluid.logo__img(src='img/logo.png')
      .col-auto
        button.btn.btn--primary.header__callback Заказать звонок       
      
