section.about
  .about__container 
 
  
    <div class="news">
    <img src="img/1.png">
           
    </div>
<div>
  <span class="red"><img src="img/2.png"></span>
</div>
<div>
   <p><span class="term"> Заказать звонок </span> 
</div>


  <div class="bitton"></p><span style="color: #fff">Умные часы</span> <span style="color: #0097ae">JakcomB3</span> <span style="color: #fff"> с bluetooth гарнитурой</span><br><span style="color: #fff">Новинка в среде умных часов! Верхняя часть с дисплеем снимаеться и становиться блютуз гарнитурой!</span></br></a></div>
 
</div>
<div>
  <span class="green"><img src="img/44.png">
  <button class="button2">Купить</button>
  </span>
</div>


