section.about
  .about__container 
 
  
   
<body>
    <div class='menu-container'>
        <div class='menu'>
            <div class='date'><img src="img/2.png" /></div>
            <div class='links'>
                <div class='signup'><span class="term" >Заказать звонок</span></div>
                
            </div>
        </div>
    </div>
    <div class='header-container'>
        <div class='header'>
            <div class='subscribe'></div>
            <div class='logo'> 
                <img src='img/12345.png' />
                <h2 style="left:100px; top: 100px; position: absolute; color: #fff">Умные часы
                <h2 style="left:300px; top: 100px; position: absolute; color: #0097ae">JakcomB3</h2> 
                <h2 style="left:450px; top: 100px; position: absolute; color: #fff"> с bluetooth гарнитурой</h2>
                <br><h2 style="left:100px; top: 200px; position: absolute;color: #fff">Новинка в среде умных часов!<br> Верхняя часть с дисплеем снимаеться <br> и становиться блютуз гарнитурой!</h2></br></a>
                <span class="green"><img src="img/44.png">
                <div class='great_btn'> Купить </div>
            </div>                     
        </div>
    </div>
    
          
     <div class='second-container'>
        <div class='second'>
            <div class='subscribe'></div>
            <h2 style="left:300px; top: 1200px; position: absolute; color: #000">Характеристики умных часов</h2> 
            <div class='logofon'> 
                <img src='img/789.png' />
                <div class='great_btn'> Купить </div>
                
                
            </div>                     
        </div>
    </div>
    </div>
            
    
</body>

