section.about
  .about__container <img src="img/2.png" width="125" height="30" position: "left"  alt=""><p><span class="term" >Заказать звонок</span></p>Умные часы <span style="color: #0097ae">JakcomB3</span> с bluetooth гарнитурой<br>Новинка в среде умных часов! Верхняя часть с дисплеем снимаеться и становиться блютуз гарнитурой! </br> <img src="img/1.png" width="1176" height="720" alt="">


