section.intro

  .container
    .row
      .col-xl-14
        h2.sub-heading.sub-heading--inverse.intro__heading Умные часы 
          mark JakcomB3
          |  с bluetooth гарнитурой
        p.text.intro__text Новинка в среде умных часов! Верхняя часть с дисплеем снимаеться и становиться блютуз гарнитурой! 
        .price
          span.price-new.price__new за 
            mark 1260
            |  грн
          span.price-old.price__old 1960 грн
      
        button.btn.btn--secondary.header__buy Купить
            
 

