section.info-block
  .container
    .row
      .col-lg-24.text-center
        h2.section-heading Характеристики умных часов
       
    .row.text-center
      .col-md-8
        img.img-fluid(src='img/features2_img.png')
       
      .col-md-8
      
      
      
        p
          img(src='img/batarey.png', alt='')
          |                               емкость аккумулятора - 80 mAh
        p
          img(src='img/watch.png', alt='')
          |                         время автономной работы - до 7-ми суток
          br
        p
          img(src='img/phone.png', alt='')
          |                         умные наручные часы
          br
        p
          img(src='img/man.png', alt='')
          |                         фитнес-трекер
          br
        p
          img(src='img/blutuz.png', alt='')
          |                         bluetooth-наушник
          br
        p
          img(src='img/sun.png', alt='')
          |                         HD OLED - дисплей
          br
        p
          img(src='img/kapelka.png', alt='')
          |                         водонепронецаемый корпус
          br
        p
          img(src='img/call.png', alt='')
          |                         прием и отклонение звонков боковыми кнопками
          br

      .col-md-8
        img.img-fluid(src='img/features_img.png')
      .col-24.text-center
        button.btn.btn--secondary.info-block__btn Заказать звонок
      
