section.video
  iframe.video__iframe(src='https://www.youtube.com/embed/HYVV3XhMAZw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
