+comment('general style')

+cm('png icons')
+ic
@if (global-variable-exists(spritesheet-sprites))
  @each $sprite in $spritesheet-sprites
    .ic--#{nth($sprite, 10)}
      &:before
        +bs($sprite)
+cm('svg icons')
+svg
@if (global-variable-exists(svg-spritesheet-sprites))
  @each $sprite in $svg-spritesheet-sprites
    .svg--#{nth($sprite, 1)}
      +svgi($sprite)
+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.has-error
  .form-control 
    border-color: $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
//@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0

+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)
.modal.show 
  display: flex !important
  align-items: center
.modal-dialog
  position: relative
  margin: auto
.html, 
.body
  display: flex
  margin: 0
.body
  flex-direction: column
  flex: 0 0 100%
  max-width: 100%
  min-height: 100vh
.main
  flex-grow: 1
.link
  text-decoration: none
  transition: all .3s ease-out
  &:hover,
  &:focus
    text-decoration: none
.btn
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 0
  background-color: transparent
  @extend .link
  &:focus
    box-shadow: none
  &--default
  &--primary
    color: #fff
    font: 400 16px/24px $main-font
    border:
      bottom: 1px dashed #00ceed
    padding: 0 10px
    


  &--secondary
    color: #fff
    background-color: #00ceed
    color: #000000
    font: 700 16px/24px $main-font
    box-shadow: 3px 3px 0  #3e4057
    position: relative

    &:active 
      top: 1px

    &:hover  
      background-color: #00ceed * 1.2
 
   
  

  &--simple

  &--fluid
    width: 100%

+cm("Typography")
.hidden-accessible
  border: 0 !important
  clip: rect(0 0 0 0) !important
  height: 1px !important
  margin: -1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
.sub-heading
  font: 400 40px/52px $main-font
  color: #000
  &--inverse
    color: #fff
  mark
    color: #00ceed
    background-color: transparent
    font-weight: 700


+comment("home page style")


+comment("section header style")
.header 
  

  background-color: rgba(0, 0, 0, 0.5)
  position: fixed
  width: 100%

  top: 0
  left: 0
  z-index: 9999
  padding: 21px 0 21px

  &__buy
    min-width: 250px
    position: relative
    margin-top: 45px


+comment("section intro style")

.intro
  padding: 60px 0 
  background-color: #000
  display: flex
  flex-direction: column
  justify-content: center
  background-image: url(../img/intro-bg.png)
  background-size: cover
  background-position: calc(50% + 54px) 0
  background-repeat: no-repeat
  @media screen and (min-height: 480px)
    height: 100vh



.text 
  color: #ffffff
  font: 400 14px/17px  $main-font
  +r($md)
    font-size: 18px
    line-height: 27px
  +r($lg)
  +r($xl)
.price
  &__new
    margin-right: 28px
  &__text
    color: #fff
    font: 400 30px/40px $main-font
.price-new
  color: #fff
  font: 400 26px/40px $main-font
  mark
    background-color: transparent
    font-weight: 700
    color: #00ceed
    font-size: 40px



.price-old
  display: inline-block
  position: relative
  color: #fff
  font: 400 26px/40px $main-font
  &:after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    width: 110%
   
    display: block
    height: 1px
    transform: translate(-50%, -50%)
    background-color: #e6436e
    z-index: 1


+comment("section info-block style")
.info-block
  padding: 62px


+comment("section slider style")


.carousel-items, .carousel-labels
  margin: 0
  padding: 0
  list-style: none
  display: block

.carousel-item
  display: block
  float: left

.carousel-wrapper
  width: 100%
  position: relative
  padding-bottom: 55%
  background-color: none
  overflow: hidden

.carousel-items
  width: 300%
  height: 100%
  position: absolute
  left: 0
  top: 0
  z-index: 1
  transition: left .5s ease-out
  -o-transition: left .5s ease-out
  -ms-transition: left .5s ease-out
  -moz-transition: left .5s ease-out
  -webkit-transition: left .5s ease-out

.carousel-item
  width: 33.33333333%
  height: 100%
  color: white

.carousel-item-blue, .carousel-item-red, .carousel-item-green
  background-color: none

.carousel-labels
  position: absolute
  z-index: 2
  left: 0
  bottom: 0
  height: 20px
  width: 100%
  padding: 10px 0
  text-align: center

.carousel-selector
  display: none

.carousel-label
  display: inline-block
  label
    width: 10px
    height: 10px
    border-radius: 10px
    background-color: white
    display: block
    cursor: pointer

#slide1:checked ~
  .carousel-items
    left: 0
  .carousel-labels .carousel-label:nth-child(1) label
    background-color: black

#slide2:checked ~
  .carousel-items
    left: -100%
  .carousel-labels .carousel-label:nth-child(2) label
    background-color: black

#slide3:checked ~
  .carousel-items
    left: -200%
  .carousel-labels .carousel-label:nth-child(3) label
    background-color: black

.destinations .grid li
  height: 350px
  padding: 20px
  background-clip: content-box
  background-size: cover
  background-position: center
  &.small
    flex-basis: 30%
  &.large
    flex-basis: 70%

@media (max-width: 1100px)
  .destinations .grid li
    &.small, &.large
      flex-basis: 50%

@media (max-width: 800px)
  .destinations .grid li
    &.small, &.large
      flex-basis: 100%

+comment("section feedback style")

.feedback
  padding: 50px 0 30px

.fb-review
  list-style-type: none 
  padding-left: 0
  margin:
    left: -4px
    right: -4px
    bottom: 0
  display: flex
  flex-wrap: wrap
  justify-content: flex-end
  &__icon
    color: #e6436e
  &__item
    +col(auto)
    padding:
      left: 4px
      right: 4px


.fb-text
  color: #000
  font: 400 14px/17px  $main-font
  +r($md)
    font-size: 16px
    line-height: 27px
 

.fb-heading
  
  font: 700 14px/17px  $main-font
  +r($md)
    font-size: 18px
    line-height: 27px

.order
  background: #000 url(../img/qqq.png) no-repeat scroll 0 0
  background-size: cover
  padding: 50px 0
  &__price
    text-align: center
    margin-bottom: 30px



.form
  &__wrapper
    display: flex
    flex-wrap: wrap
    margin:
      left: -15px
      right: -15px
  &__group
    padding:
      left: 15px
      right: 15px
    &--1
      flex: 0 0 30%
      max-width: 30%
    &--2
      flex: 0 0 45%
      max-width: 45%
    &--3
      flex: 0 0 25%
      max-width: 25%
  &__control
    background-color: transparent
    border-radius: 0
    border: 3px solid #00ceed
    font: 700 14px/17px  $main-font
    color: #fff
    padding: 12px 18px
    
    &::placeholder
      color: #fff
      font: 700 14px/17px  $main-font

  &__submit
    padding: 11px 18px
    font-size: 20px


.video
  margin-top: 100px
  height: 680px
  &__iframe
    height: 100%
    width: 100%

  

.delivery
  color: #fff
  font: 500 14px/17px  $main-font
  font-size: 16px
  line-height: 2
  padding: 60px 0 
  background-color: #000
  display: flex
  flex-direction: column
  justify-content: center
  background-image: url(../img/5123.png)
  background-size: cover
  background-position: calc(50% + 54px) 0
  background-repeat: no-repeat
  @media screen and (min-height: 480px)
    height: 100vh



.footer
  padding: 1rem
  background: #3e4057
  color: #FFFFFF




  
  


.menu-container 
  color: #fff;
  background-color: #000 ;
  padding: 20px 0;
  display: flex;
  justify-content: center;


.menu 
  width: 2000px;
  display: flex;
  justify-content: space-between;

.term 
  
    border-bottom: 2px dotted #00ceed
    
.date 
   margin-left: 20px

.links 
  display: flex;
  justify-content: flex-end;


.signup
  margin-right: 20px

.green
  position: absolute;
  width: 100px;
  
    
  line-height: 100px;
  text-align: left;
.green
  
  top: 420px;
  left: 50px;
  background: none;

.a.nubex 
  
  
  padding: 25px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: solid 1px #fff; 
  
.a.nubex:active 
  background-color: #ee6206; 
  
.a.nubex:hover 
  background-color: #fff; 
  





.second
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  margin-left: -400px;
  padding: 0px 15px;

.great_btn 
   text-align: center;
   padding: 15px 25px 15px;
   background: linear-gradient(to bottom, #00ceed 0%,#00ceed 100%);
   color: #fff;
   font-size: 16px;
   text-shadow: 0 1px 0 #757575;
   margin: 20px;
   cursor: pointer;
   border: 0;
   border-top: 1px solid #00ceed;
   border-right: 1px solid #00ceed;
   border-left: 1px solid #00ceed;
   border-bottom: 1px solid #00ceed;
   box-shadow: 0 -1px 0 #00ceed, 0 1px 0 #fff;
   width: 150px;
   border-radius: 2px;
   margin-top: 0px;
   height: 50px;
   line-height: 50px;
   position: relative;
   border: 1px;
   padding: 0 1rem;
   background-image: linear-gradient(top, #3e4057 0% ,#3e4057 100%);   
   box-shadow: 8px 6px 2px #3e4057, inset 0px 0px 1px #3e4057; 


