extends base/_layout.pug
block variables

block header
block content
  article.intro
    include partials/_header.pug
    include partials/_home-intro.pug
  
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug

block styles

block scripts
