extends base/_layout.pug
block variables

block header
  include partials/_header.pug
block content
 
  include partials/_home-intro.pug
  include partials/_home-info.pug
  include partials/_home-slider.pug
  include partials/_feedback.pug
  include partials/_order.pug
  include partials/_advantages.pug
  include partials/_video.pug
  include partials/_delivery.pug

  
block footer
  include partials/_footer.pug
block modal
//- include partials/_modal.pug

block styles

block scripts
